.ContentBox {
  /* 设置滚动条的样式 */
  /* 滚动槽 */
  /* 滚动条滑块 */
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #DCDFE6;
}
.ContentBox::-webkit-scrollbar {
  width: 2px;
}
.ContentBox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.6);
  border-radius: 2px;
}
.ContentBox::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.6);
}
