.Search {
  width: 300px;
  height: 40px;
  padding: 0 10px 0 15px;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.02);
}
.search::before {
  color: #222;
  cursor: pointer;
}
input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}
